@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.hero {
  padding: 106px 0 280px;
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
}

.hero__text {
  max-width: 607px;
}
.title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 47px;
}

@media (max-width: 960px) {
  .hero {
    flex-direction: column;
    gap: 100px;
  }
  .hero__text {
    justify-content: center;
  }
}
