@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.hero__text {
  max-width: 607px;
}

.title {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 47px;
}

.img {
  height: auto;
  margin-right: -100px;
}

@media (max-width: 1280px) {
  .img {
    margin-right: -50px;
  }
}

@media (max-width: 960px) {
  .hero {
    flex-direction: column;
    gap: 100px;
  }

  .hero__text {
    justify-content: center;
  }
}